<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testing calculator" thread-count="2" parallel="tests" preserve-order="true">
    <listeners>
        <listener class-name="utils.Listeners" />
    </listeners>
    <test name="Test" >
        <groups>
            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
                <exclude name="Broken"/>
            </run>
        </groups>
        <packages>
            <package name="tests.testng"/>
        </packages>
    </test>
</suite>
